.mediatest {
  display: flex;
  background-color: blue;
  border: dotted;
  width: 300px;
  height: 300px;
}
@media screen and (min-width: 400px) and (max-width: 2000px) {
  .mediatest {
    background-color: red;
    border: dashed;
  }
}

.title {
  font-size: xx-large;
  text-align: center;
  background-color: #d5d5d1;
}

.startContainer {
  background-color: #278ee3;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

@media screen and (min-width: 481px) {
  .startContainer {
    flex-flow: row;
  }
}

.greetingitem {
  display: flex;
  width: 100%;
  height: 30rem;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px;
  border-style: dotted;
  border-color: teal;
  margin: 5px;
  background-color: #278ee3;
  text-align: center;
  font-size: x-large;
}

.endContainer {
  background-color: #d5d5d1;
  width: 100%;
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
}

.endItem {
  display: flex;
  height: 6rem;
  width: 6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 481px) {
  .endItem {
    height: 40vh;
    width: 100%;
    flex-flow: row;
  }
}

.button {
  font-size: xx-large;
  width: 100%;
  height: 100%;
  background-color: #278ee3;
  border: 5px;
  border-style: dotted;
}

.pickerItem {
  display: flex;
  background-color: #278ee3;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: xxx-large;
  justify-content: center;
  align-items: center;
  border-style: dotted;
}

.movieDisplay {
  background-color: #278ee3;
  /* width: 50%; */
  height: auto;
  object-fit: contain;
}

.movieCardFull {
  justify-content: center;
  align-self: center;
  object-fit: contain;
  /* max-height: 100%; */
  /* max-width: 75%; */
  width: 75%;
  margin: auto;
}

.centerText {
  text-align: center;
}

.poster {
  justify-content: center;
  align-self: center;
  /* max-width: 75%; */
  padding: 10px;
}

.movieCardContainer {
  background-color: #278ee3;
}

.movieCardInfoContainer {
  display: flex;
  flex-flow: row-wrap;
}

.movieCardItem1 {
  background-color: #278ee3;
  width: 25%;
  margin: auto;
}

.movieCardItem2 {
  background-color: #278ee3;
  width: 75%;
  margin: auto;
}

.movieCardItem3 {
  background-color: #278ee3;
  width: 99%;
  margin: auto;
}

.castList {
  display: flex;
  flex-flow: column;
}

@media screen and (min-width: 481px) {
  .castList {
    flex-flow: row;
  }
}

/* .startContainer {
  background-color: #278ee3;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

@media screen and (min-width: 481px) {
  .startContainer {
    flex-flow: row;
  }
} */

/* .endContainer {
  background-color: #d5d5d1;
  width: 100%;
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
}

.endItem {
  display: flex;
  height: 6rem;
  width: 6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
} */
