.mediatest {
  display: flex;
  background-color: blue;
  border: dotted;
  width: 300px;
  height: 300px;
}
@media screen and (min-width: 400px) and (max-width: 2000px) {
  .mediatest {
    background-color: red;
    border: dashed;
  }
}

.title {
  font-size: xx-large;
  text-align: center;
  background-color: #d5d5d1;
}

.startContainer {
  background-color: #b80000;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

@media screen and (min-width: 481px) {
  .startContainer {
    flex-flow: row;
  }
}

.greetingitem {
  display: flex;
  width: 100%;
  height: 30rem;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px;
  border-style: dotted;
  border-color: teal;
  margin: 5px;
  background-color: #278ee3;
  text-align: center;
  font-size: x-large;
}

.endContainer {
  background-color: #d5d5d1;
  width: 100%;
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
}

.endItem {
  display: flex;
  /* background-color: #278EE3; */
  height: 6rem;
  width: 6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100%;
  height: 100%;
  background-color: #278ee3;
  border: 5px;
  border-style: dotted;
}
